<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <footer class="fixed-bottom mt-2 bg-white" th:fragment="sidebar">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><strong>Copyright <i class="fa fa-copyright"></i> 2020 <a
					href="https://www.ecgc.in/" style="color:#000;">ECGC Ltd, India</a>.
				</strong> All rights reserved.</span>
          </div>
        </div>
      </footer>
    
</body>
</html>